
#barter_message_content{
  margin-bottom: 10px;
}

#barter_input_message{
  border: 1px solid black;
}
/* scrolling bar style */
 .scrollBarStyle::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollBarStyle::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scrollBarStyle::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.mytext{
    border:0;padding:10px;background:whitesmoke;
}

.text{
    width:100%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}
.text-r{
    float:right;padding-left:10px;
}

.container {
  max-width: 800px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.screen {
  /*padding: 15px 10px;*/
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  position: relative;
}
.message__list:after {
  content: '';
  display: table;
  clear: both;
}

.message__item {
  max-width: 100%;
  clear: both;
}

.message__item--bot {
  float: left;
}
.message__item--bot:first-of-type .message {
  border-top-left-radius: 20px;
}
.message__item--bot:last-of-type .message {
  border-bottom-left-radius: 20px;
}

.message__item--user {
  float: right;
  text-align: right;
}
.message__item--user:first-of-type .message {
  border-top-right-radius: 20px;
}
.message__item--user:last-of-type .message {
  border-bottom-right-radius: 20px;
}

.message {
  padding: 8px 15px;
  margin-top: 2px;
  display: inline-block;
  text-align: left;
  word-wrap:break-word;
  max-width: 100%;
}

.message--bot {
  background-color: #eee;
  border-radius: 3px 20px 20px 3px;
}

.message--user {
  background-color: #0baaff;
  color: #fff;
  border-radius: 20px 3px 3px 20px;
}

.bot__image {
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 3px;
  left: 0;
  border-radius: 20px;
}

.answer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  padding: 10px;
}

.answer__button {
  background-color: #0baaff;
  border-radius: 20px;
  color: #fff;
  padding: 8px 15px;
  margin-top: 2px;
  display: inline-block;
  cursor: pointer;
}

#gallery { float: left; width: 65%; min-height: 12em; }
.gallery.custom-state-active { background: #eee; }
.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery li h5 { margin: 0 0 0.4em; cursor: move; }
.gallery li a { float: right; }
.gallery li a.ui-icon-zoomin { float: left; }
.gallery li img { width: 100%; cursor: move; }

#gallery2 { float: left; width: 65%; min-height: 12em; }
.gallery2.custom-state-active { background: #eee; }
.gallery2 li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery2 li h5 { margin: 0 0 0.4em; cursor: move; }
.gallery2 li a { float: right; }
.gallery2 li a.ui-icon-zoomin { float: left; }
.gallery2 li img { width: 100%; cursor: move; }

#trash { float: center; width: 32%; min-height: 15em; padding: 1%; }
#trash h4 { line-height: 16px; margin: 0 0 0.4em; }
#trash h4 .ui-icon { float: left; }
#trash .gallery h5 { display: none; }

#trash2 { float: center; width: 32%; min-height: 15em; padding: 1%; }
#trash2 h4 { line-height: 16px; margin: 0 0 0.4em; }
#trash2 h4 .ui-icon { float: left; }
#trash2 .gallery2 h5 { display: none; }

.draggable { width: 90px; height: 90px; padding: 0.5em; float: left; margin: 0 10px 10px 0; }
#draggable, #draggable2 { margin-bottom:20px; }
#draggable { cursor: n-resize; }
#draggable2 { cursor: e-resize; }
#containment-wrapper { width: 95%; height:350px; border:2px solid aqua; padding: 10px;}
#containment-wrapper2 { width: 95%; height:350px; border:2px solid crimson; padding: 10px;}

#barter_button_submit_offer {
    margin-top: 10px;
    margin-bottom: 10px
}


.modal-content *{
    text-align: center;
}
