p{
  height: auto;
}

.Home_Title{
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 42px;
    box-shadow: #fff 0px 0px 5px;
    background-color: #84c1ff;
}

.Hometitle{
  Top:50   px;
  left:50  px;

 font-size: 150px;
 background-color: #0baeff;
 text-align: left ;
}


.slick-prev:before, .slick-next:before {
    color:#84c1ff !important;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}


#Home_SearchBarDiv{
    margin-bottom: 80px;
}
