p{
  height: auto;
}

.Home_Title{
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 42px;
    box-shadow: #fff 0px 0px 5px;
    background-color: #84c1ff;
}

.Hometitle{
  Top:50   px;
  left:50  px;

 font-size: 150px;
 background-color: #0baeff;
 text-align: left ;
}

.panel {
    border: 10px solid #333;
    background: #ccc;
    height:200px;
    margin: 10px;
    font-size: 72px;
    text-align: center;
    line-height: 200px;
}
