


<div class="container">
	<div class="row">
		<h1 class="text-center"> Barter to the Max </h1>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Goal</h1>
                            <hr />
<p>
To create a sense of community through face to face meet ups to exchange your items. <br>
Save your money by only trading with other items and absolutely no current involved.


</p>                            <br />
                            <a href="https://github.com/AdanConstanzo/BTTM" class="btn btn-block btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Future </h1>
                            <hr />
<p>
In the future, We hope to insure security between two parties in trading. As well as implement a <br>
rating system to build trust within our community.

</p>                            <br />
                            <a href="ppc.html" class="btn btn-block btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Founders</h1>
                            <hr />
<p>
<br /> Adan Constanzo
<br />
<br /> Iovanni Enriquez
<br />
<br /> Kevin Flores
<br />
<br /> Max Ziwei Xiong
</p>                            <br />
                            <a href="contact.html" class="btn btn-block btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
