<center> <h3> You are currently bartering with {{otherUser}}</h3> </center>
<!-- <img class="bot__image" src="https://scontent-lax3-2.cdninstagram.com/t51.2885-19/s150x150/18947910_1579271912105251_4345402667460198400_a.jpg"> -->



<div class="container">
  <div id="barter_message_content" class="screen">

  </div>
</div>
<div id="mario-chat">
    <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
    </div>
    <input id="message" type="text" placeholder="Message" />
    <button id="send">Send</button>
</div>
