<center>
  <h3> You are currently bartering with {{otherUser}}</h3>
</center>
<style>
  .draggable {
    width: 90px;
    height: 90px;
    padding: 0.5em;
    float: left;
    margin: 0 10px 10px 0;
  }

  #draggable1 {
    margin-bottom: 20px;
  }

  #draggable1 {
    cursor: e-resize;
  }

  #useritems2 {
    height: 150px;
    border: 2px solid #ccc;
    padding: 10px;
  }

  h3 {
    clear: left;
  }

  #gallery {
    float: left;
    width: 65%;
    min-height: 12em;
  }

  .gallery.custom-state-active {
    background: #eee;
  }

  .gallery li {
    float: left;
    width: 96px;
    padding: 0.4em;
    margin: 0 0.4em 0.4em 0;
    text-align: center;
  }

  .gallery li h5 {
    margin: 0 0 0.4em;
    cursor: move;
  }

  .gallery li a {
    float: right;
  }

  .gallery li a.ui-icon-zoomin {
    float: left;
  }

  .gallery li img {
    width: 100%;
    cursor: move;
  }

  #trash {
    float: center;
    width: 32%;
    min-height: 18em;
    padding: 1%;
  }

  #trash h4 {
    line-height: 16px;
    margin: 0 0 0.4em;
  }

  #trash h4 .ui-icon {
    float: left;
  }

  #trash .gallery h5 {
    display: none;
  }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("Text", ev.target.id);
  }

  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
  }
</script>

<div class="container-fluid">


  <div class="row">
    <div class="col-md-12">
      <!-- Messages get populated here -->
      <div id="barter_message_content" class="screen scrollBarStyle">

      </div>

      <!-- Input box for messages  -->
      <div class="text" style="background:whitesmoke !important">
        <input id="barter_input_message" class="mytext" type="text" placeholder="Type a message" />
      </div>
    </div>
  </div>


  <!-- ol(> trading screen -->
  <div class="row">
    <div class="col-md-4 yitems">
      <h3> Your Items </h3>
      <ul>
        <li>
          <img id="drag1" src="https://i.imgur.com/DVBEUKt.jpg" draggable="true" ondragstart="drag(event)" width="36" height="69" alt="suck my dick">
        </li>
        <li>
          <img id="drag1" src="https://i.imgur.com/wmpnsRz.png" draggable="true" ondragstart="drag(event)" width="36" height="69" alt="suck my titties">
        </li>
      </ul>
    </div>

    <div class="col-md-4" id="useritems2" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h4>Bartering Area</h4>
      <br>
    </div>

    <div class="col-md-4 titems">
      <h3> {{otherUser}}'s Items </h3>
    </div>

  </div>
  <br>
</div>