<center>
<h1> Welcome to Barter to the Max</h1>
</center>




<div style="position: absolute; z-index: 2; width: 600px;height : 40px; left: 300px; top: 900px; text-align: center; line-height: 40px; color: #ffffff; font-size: 50px; box-shadow: #fff 0px 0px 5px; background-color: #84c1ff;"> Nearyby Trades <hr /></div>


<div style="position: absolute; z-index: 2; width: 600px;height : 40px; left: 300px; top: 1000x; text-align: center; line-height: 40px; color: #ffffff; font-size: 50px; box-shadow: #fff 0px 0px 5px; background-color: #84c1ff;"> Current Trades <hr /></div>


<div style="position: absolute; z-index: 2; width: 600px;height : 40px; left: 300px; top: 500px; text-align: center; line-height: 40px; color: #ffffff; font-size: 50px; box-shadow: #fff 0px 0px 5px; background-color: #84c1ff;"> Pending Trades <hr /></div>



<div>

</div>
