<center>
<h1> Welcome to Barter to the Max</h1>
</center>
<p ng-if="UserGeo != null">Location: {{UserGeo.city}}, {{UserGeo.state}}</p>
<p ng-if="UserGeo == null">Location: Can't Determine Location</p>

<div style="position: absolute; z-index: 2; width: 600px;height : 40px; left: 125px; top: 698px; text-align: center; line-height: 40px; color: #ffffff; font-size: 42px; box-shadow: #fff 0px 0px 5px; background-color: #84c1ff;"> Nearyby Trades <hr /></div>
<div style="position: absolute; z-index: 2; width: 600px;height : 40px; left: 125px; top: 80px; text-align: center; line-height: 40px; color: #ffffff; font-size: 42px; box-shadow: #fff 0px 0px 5px; background-color: #84c1ff;"> Current Trades <hr /></div>
<div style="position: absolute; z-index: 2; width: 600px;height : 40px; left: 125px; top: 389px; text-align: center; line-height: 40px; color: #ffffff; font-size: 42px; box-shadow: #fff 0px 0px 5px; background-color: #84c1ff;"> Pending Trades <hr /></div>


<div class="container">
    <div class="row">
		<div class="col-md-12">
                <div id="Carousel" class="carousel slide">

                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>

                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                <div class="item active">
                	<div class="row">
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 1</span></a></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 2</span></a></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 3</span></a></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 4</span></a></div>
                	</div><!--.row-->
                </div><!--.item-->

                <div class="item">
                	<div class="row">
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 5</span></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 6</span></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 7</span></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 8</span></a></div>
                	</div><!--.row-->
                </div><!--.item-->

                <div class="item">
                	<div class="row">
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 9</span></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 10</span></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 11</span></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><span>item 12</span></a></div>
                	</div><!--.row-->
                </div><!--.item-->

                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->

		</div>
	</div>
</div><!--.container-->
