<h1>Pending Trades</h1>

<div ng-repeat="x in Offers">
    <div class="col-md-3" data-toggle="modal" data-target="#modal_{{x.TransactionPending._id}}">
        <div class="thumbnail">
            <img ng-src={{x.otherPath}} alt="{{x.name}}" style="height:150px; width:150px;">
            <img ng-src={{User.user_image.path200}} alt="{{x.name}}" style="height:150px; width:150px;">
            <div class="caption">
              <p>{{User.username}}'s offer to {{x.otherUser}}</p>
            </div>
        </div>
    </div>
</div>

<div id="appendModals">
</div>
