<div class="container">
    <h1 id="user_h1_header" >Welcome to your page, {{user_name}}</h1>
    <p> <b>Your Items</b> </p>
    <div>
        <ul>
            <li ng-repeat="x in user_trading_items">
                <img  ng-src={{x.image}}>
            </li> 
        </ul>   
    </div>
    <!--ol(> 

    Google API Key:
    AIzaSyB_L0FXzFh6bgR2pLoBLHZ-tt-bcf-KBzs
    
    -->

    <p> <b>Pending Trades</b> </p>
    <div>
        <ul>
            <li ng-repeat="x in user_pending_trades">
                <img  ng-src={{x.image}}>
            </li> 
        </ul>   
    </div>


    <hr>

<!--
    <div class="container">
            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
*                        <!-- SIDEBAR USERPIC --
                        <div class="profile-userpic">
                            <img src="C:\Users\Iovanni\Desktop\suga.jpg" alt="Suga">
                        </div>
 *                       <!-- END SIDEBAR USERPIC --
  *                      <!-- SIDEBAR USER TITLE --
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                Marcus Doe
                            </div>
                            <div class="profile-usertitle-job">
                                Developer
                            </div>
                        </div>
   *                     <!-- END SIDEBAR USER TITLE --
    *                    <!-- SIDEBAR BUTTONS --
                        <div class="profile-userbuttons">
                            <button type="button" class="btn btn-success btn-sm">Follow</button>
                            <button type="button" class="btn btn-danger btn-sm">Message</button>
                        </div>
     *                   <!-- END SIDEBAR BUTTONS --
      *                  <!-- SIDEBAR MENU --
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li class="active">
                                    <a href="#">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Overview </a>
                                </li>
                                <li>
                                    <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Account Settings </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Tasks </a>
                                </li>
                                <li>
                                    <a href="#">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Help </a>
                                </li>
                            </ul>
                        </div>
       *                 <!-- END MENU --
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-content">
                       Some user related content goes here...
                    </div>
                </div>
            </div>
        </div>
        <center>
        <strong>Powered by <a href="http://j.mp/metronictheme" target="_blank">KeenThemes</a></strong>
        </center>


    </div>
-->
    <hr>
    <style>
        #map {
        height: 400px;
        width: 80%;
       }
    </style>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
      infoWindow = new google.maps.InfoWindow;

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          infoWindow.open(map);
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
      </script>
      <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_L0FXzFh6bgR2pLoBLHZ-tt-bcf-KBzs&libraries=places&callback=initMap">
      </script>
    
</div>
